################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedBricksApi/FileContentIndex/1b5d3a61-3de5-4245-8245-3c84a9286678.vsidx
/.vs/RedBricksApi/DesignTimeBuild/.dtbcache.v2
/.vs/RedBricksApi/v17/.futdcache.v2
/.vs/RedBricksApi/v17/.suo
/RedBricksApi/wwwroot/Pictures/Product/07442843-0ccb-4f08-9cf2-67fa3c5b4890.jpg
/RedBricksApi/wwwroot/Pictures/Product/3161057c-d3d5-4fee-9271-50e9b4065e32.jpg
/RedBricksApi/wwwroot/Pictures/Product/6d547eca-ebf2-4c8b-9765-1bda8cf63b25.jpg
/RedBricksApi/wwwroot/Pictures/Product/7c443c24-2f8b-4132-934a-57e0165cbd7c.jpg
/RedBricksApi/wwwroot/Pictures/Product/7e7f7bb5-aad2-4514-878f-45e11efe1ba4.jpg
/RedBricksApi/obj/Debug/net8.0/rjimswa.dswa.cache.json
/RedBricksApi/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/RedBricksApi/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/RedBricksApi/obj/Debug/net8.0/rpswa.dswa.cache.json
/RedBricksApi/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/RedBricksApi/obj/Debug/net8.0/staticwebassets.build.json
/RedBricksApi/obj/Debug/net8.0/staticwebassets.build.json.cache
/RedBricksApi/obj/Debug/net8.0/staticwebassets.development.json
/RedBricksApi/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/RedBricksApi/wwwroot/Pictures/Product/835b4051-4844-44c3-adcb-8c750d276dc7.jpg
/.vs/RedBricksApi/FileContentIndex/37ecc439-530e-4950-bea3-2697f9926aa8.vsidx
/.vs/RedBricksApi/FileContentIndex/811c4ad1-0623-407c-80e7-5635f5cde3d7.vsidx
/.vs/RedBricksApi/FileContentIndex/8f275f39-681f-4dfb-8a62-55f90f12d06b.vsidx
/.vs/RedBricksApi/FileContentIndex/cdf82eed-d2bc-4e52-b5f5-99ed89065c7a.vsidx
/.vs/RedBricksApi/FileContentIndex/f7bc9535-eeaf-44fe-a095-129ca469bff8.vsidx
/RedBricksApi/wwwroot/Pictures/Product/87ab8ae4-a32b-4a80-b478-3093ec05331c.jpg
/RedBricksApi/wwwroot/Pictures/Product/96b05071-75ac-4065-a6ee-0c2aefc2f1be.jpg
/RedBricksApi/wwwroot/Pictures/Product/ad0746cd-a785-4587-8101-f4331a15cfd2.jpg
/RedBricksApi/wwwroot/Pictures/Product/b81efc8d-0b0b-4e74-bdeb-4cdf4b039761.jpg
/RedBricksApi/wwwroot/Pictures/Product/d10fcf77-dc6e-4c17-8c98-b2584aba94c6.jpg
/RedBricksApi/bin/Debug/net8.0/appsettings.json
/RedBricksApi/bin/Debug/net8.0/RedBricksApi.dll
/RedBricksApi/bin/Debug/net8.0/RedBricksApi.exe
/RedBricksApi/bin/Debug/net8.0/RedBricksApi.pdb
/RedBricksApi/bin/Debug/net8.0/RedBricksApi.staticwebassets.endpoints.json
/RedBricksApi/bin/Debug/net8.0/RedBricksApi.staticwebassets.runtime.json
/RedBricksApi/obj/Debug/net8.0/ApiEndpoints.json
/RedBricksApi/obj/Debug/net8.0/apphost.exe
/RedBricksApi/obj/Debug/net8.0/EndpointInfo/RedBricksApi.json
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.AssemblyInfoInputs.cache
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.csproj.CoreCompileInputs.cache
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.csproj.FileListAbsolute.txt
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.dll
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.genruntimeconfig.cache
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.pdb
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.sourcelink.json
/RedBricksApi/obj/Debug/net8.0/ref/RedBricksApi.dll
/RedBricksApi/obj/Debug/net8.0/refint/RedBricksApi.dll
/.vs/RedBricksApi/config/applicationhost.config
/.vs/RedBricksApi/CopilotIndices/17.14.1231.31060/CodeChunks.db
/.vs/RedBricksApi/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
/.vs/RedBricksApi/v17/DocumentLayout.backup.json
/.vs/RedBricksApi/v17/DocumentLayout.json
/.vs/RedBricks_WebApi/v17/.wsuo
/.vs/RedBricks_WebApi/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/RedBricksApi/bin/Debug/net8.0/appsettings.json
/RedBricksApi/obj/Debug/net8.0/RedBricksApi.csproj.FileListAbsolute.txt
/.vs/RedBricksApi/FileContentIndex
/RedBricksApi/appsettings.json
/RedBricksApi/wwwroot/Pictures/Product
